    /* Reset & base */
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        font-family: "Poppins", sans-serif;
        color: #000;
        line-height: 1.6;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    h1 {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.2;
    }

    h2 {
        font-size: 2rem;
        font-weight: 800;
    }


    button {
        cursor: pointer;
        border: none;
        outline: none;
        font-family: inherit;
    }

    /* WhatsApp Floating Button */
    .wa-float {
        position: fixed;
        right: 24px;
        bottom: 28px;
        z-index: 99;
        width: 56px;
        height: 56px;
        background: #fff;
        border-radius: 50%;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: box-shadow 0.2s;
    }

    .wa-float img {
        width: 40px;
        height: 40px;
        display: block;
    }

    .wa-float:hover {
        box-shadow: 0 6px 18px rgba(37, 211, 102, 0.18);
        background: #128c7e;
    }

    @media (max-width: 480px) {

        .cta-btn {
            font-size: 1rem;
            padding: 0.5rem 1.2rem;
        }

        .wa-float {
            width: 44px;
            height: 44px;
            right: 12px;
            bottom: 14px;
        }

        .wa-float img {
            width: 26px;
            height: 26px;
        }
    }

    /* "Selengkapnya" Button */
    .btn-load-more {
        display: block;
        margin: 0 auto 4rem;
        padding: 0.5rem 1.2rem;
        background-color: #A62F19;
        font-weight: 500;
        border-radius: 30px;
        color: #fff;
        font-size: 1rem;
        transition: background-color 0.3s ease;
        text-align: center;
        width: fit-content;
        cursor: pointer;
        border: none;
    }

    .btn-load-more:hover {
        background-color: #5d1a1a;
    }


    /* Icons */
    .icon-phone,
    .icon-whatsapp {
        width: 18px;
        height: 18px;
        fill: #e4e7ec;
    }

    /* Responsive */
    @media (max-width: 768px) {

        .welcome-content {
            flex-direction: column;
        }

        nav ul {
            gap: 1rem;
        }
    }
